<template>
  <a-layout>
    <a-layout-header class="header">
      <div class="logo" />
      <a-menu
        theme="dark"
        mode="horizontal"
        :defaultSelectedKeys="[this.$route.name]"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="home">
          <router-link to="/home">Início</router-link>
        </a-menu-item>
        <a-menu-item key="signIn">
          <router-link to="/sign_in">Entrar</router-link>
        </a-menu-item>
        <a-menu-item key="signUp">
          <router-link to="/sign_up">Registrar</router-link>
        </a-menu-item>
      </a-menu>
    </a-layout-header>
    <a-layout-content style="padding: 0 50px; minHeight: 100vh">
      <div :style="{ background: '#fff', padding: '24px', minHeight: '380px' }">
        <slot />
      </div>
    </a-layout-content>
    <a-layout-footer :style="{ textAlign: 'center' }">
      quatroka
    </a-layout-footer>
  </a-layout>
</template>

<script>
export default {
  name: "blankLayout"
};
</script>
