<template>
  <a-layout>
    <a-layout-header class="header">
      <div class="logo" />
      <a-menu
        theme="dark"
        mode="horizontal"
        :defaultSelectedKeys="[this.$route.name]"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="home">
          <router-link to="/home">Início</router-link>
        </a-menu-item>
        <a-menu-item key="logout">
          <router-link to="/home">Sair</router-link>
        </a-menu-item>
      </a-menu>
    </a-layout-header>
    <a-layout-content style="padding: 0 50px; minHeight: 100vh">
      <a-breadcrumb style="margin: 16px 0">
        <a-breadcrumb-item>Home</a-breadcrumb-item>
        <a-breadcrumb-item>List</a-breadcrumb-item>
        <a-breadcrumb-item>App</a-breadcrumb-item>
      </a-breadcrumb>
      <div :style="{ background: '#fff', padding: '24px', minHeight: '380px' }">
        <slot />
      </div>
    </a-layout-content>
    <a-layout-footer :style="{ textAlign: 'center' }">
      quatroka
    </a-layout-footer>
  </a-layout>
</template>

<script>
import axios from "axios";

export default {
  name: "baseLayout",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    submitForm() {
      this.$message.loading("Validating...", 0);
      setTimeout(() => {
        axios
          .post("http://localhost:5000/auth", {
            email: this.email,
            password: this.password
          })
          .then(response => {
            this.$message.destroy();
            this.$message.success("Logged in!");
            localStorage.setItem("token", response.data.access_token);
          })
          .catch(() => {
            this.$message.destroy();
            this.$message.error("Invalid credentials");
          });
      }, 1500);
    }
  }
};
</script>
