<template>
  <layout :is="layout()">Bem vindo ao Caulê!</layout>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
(function() {
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/service-worker.js")
        .then(function(registration) {
          console.log("Service Worker Registered");
          return registration;
        })
        .catch(function(err) {
          console.error("Unable to register service worker.", err);
        });
      navigator.serviceWorker.ready.then(function() {
        console.log("Service Worker Ready");
      });
    });
  }
})();

export default {
  name: "home",
  methods: {
    layout(logged) {
      if (logged) {
        return "logged-layout";
      }
      return "blank-layout";
    },
    ...mapActions({
      add: "plants/addPlant"
    })
  },
  computed: {
    ...mapGetters({
      allPlants: "plants/allPlants"
    })
  },
  mounted() {
    this.add({
      email: "admin@email.com",
      password: "admin"
    });
  }
};
</script>
