<template>
  <layout :is="layout">
    <a-row type="flex" justify="center">
      <a-col :span="16">
        <a-table :columns="columns" :dataSource="plants">
          <span slot="customTitle">Name</span>
          <span slot="categories" slot-scope="categories">
            <a-tag
              v-for="category in categories"
              color="blue"
              :key="category"
              >{{ category }}</a-tag
            >
          </span>
          <span slot="action">
            <a-dropdown>
              <a class="ant-dropdown-link" href="#">
                Actions<a-icon type="down" />
              </a>
              <a-menu slot="overlay">
                <a-menu-item key="1"><a-icon type="edit" />Edit</a-menu-item>
                <a-menu-item key="2" class="delete-item-red">
                  <a-icon type="delete" />Delete
                </a-menu-item>
              </a-menu>
            </a-dropdown>
          </span>
        </a-table>
      </a-col>
    </a-row>
  </layout>
</template>

<script>
import axios from "axios";
// import jwtService from "@/services/jwtService";

const columns = [
  {
    dataIndex: "title",
    key: "title",
    slots: { title: "customTitle" },
    scopedSlots: { customRender: "title" }
  },
  {
    title: "Description",
    dataIndex: "description",
    key: "description"
  },
  {
    title: "Account",
    dataIndex: "account",
    key: "account"
  },
  {
    title: "Categories",
    key: "categories",
    dataIndex: "categories",
    scopedSlots: { customRender: "categories" }
  },
  {
    title: "Action",
    key: "action",
    scopedSlots: { customRender: "action" }
  }
];

export default {
  name: "index",
  computed: {
    layout() {
      return this.$route.meta.layout;
    }
  },
  // beforeCreate() {
  //   if (!jwtService.getToken()) {
  //     this.$router.replace("home");
  //   }
  // },
  data() {
    return {
      columns,
      tasks: []
    };
  },
  created: function() {
    axios.defaults.headers.common["Authorization"] =
      "JWT " + localStorage.getItem("token");
    axios
      .get("http://localhost:5000/tasks/")
      .then(response => {
        this.tasks = response.data.tasks;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>

<style lang="scss" scoped>
.delete-item-red {
  color: red;
}
</style>
