<template>
  <layout :is="layout()">
    <h1>Create a new user</h1>
    <a-row type="flex" justify="center">
      <a-col :span="8">
        <a-form>
          <a-form-item label="Email">
            <a-input placeholder="email" v-model="email" />
          </a-form-item>
          <a-form-item label="Password">
            <a-input
              placeholder="password"
              type="password"
              v-model="password"
            />
          </a-form-item>
          <a-form-item>
            <a-button type="primary" v-on:click="createNewUser();">
              Submit </a-button
            ><!-- @click -->
          </a-form-item>
        </a-form>
      </a-col>
    </a-row>
  </layout>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "singUp",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    layout() {
      return "blank-layout";
    },
    ...mapActions({
      createUser: "user/createUser"
    }),
    createNewUser() {
      console.log("aaaa", this);
      this.createUser({ user: { email: this.email, password: this.password } });
      console.log("aaaa");
    }
  }
};
</script>
