<template>
  <layout :is="layout()">
    <h1>Login</h1>
    <a-row type="flex" justify="center">
      <a-col :span="8">
        <a-form>
          <a-form-item label="Email">
            <a-input placeholder="email" v-model="email" />
          </a-form-item>
          <a-form-item label="Password">
            <a-input
              placeholder="password"
              type="password"
              v-model="password"
            />
          </a-form-item>
          <a-form-item>
            <a-button type="primary" @click="submitForm">Submit</a-button>
          </a-form-item>
        </a-form>
      </a-col>
    </a-row>
  </layout>
</template>

<script>
import { HTTP } from "@/httpCommon";

export default {
  name: "signIn",
  // beforeCreate() {
  //   if (localStorage.getItem("token")) {
  //     this.$router.replace("home");
  //   }
  // },
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    layout() {
      return "blank-layout";
    },
    submitForm() {
      this.$message.loading("Validating...", 0);
      setTimeout(() => {
        HTTP.post("/auth", {
          email: this.email,
          password: this.password
        })
          .then(response => {
            this.$message.destroy();
            this.$message.success("Logged in!");
            localStorage.setItem("token", response.data.access_token);
          })
          .catch(() => {
            this.$message.destroy();
            this.$message.error("Invalid credentials");
          });
      }, 1500);
    }
  }
};
</script>
